<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="transactions_background_color address_details_padding transactions_bottom_margine transactions_padding_right transactions_font">
            <div class="row">
                <div class="col-xs-2 col-sm-2">
                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='transactions_token_icon' />
                    <span class="address_title_color "> FRC coin </span>
                </div>

                <div class="col-xs-2 col-sm-2 ">
                    <div class="transactions_left_padding truncate_tail">
                        <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenIcon' />
                        <span class="amount_coin">{{tokens}} FRC </span>
                    </div>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <div class="transactions_left_padding truncate_tail transactions_right_seperator">
                        <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenIcon' />
                        <span class=""> {{toTimeAgo timestamp}} </span>
                    </div>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <div class="truncate_tail">
                        <span class="address_title_color"> TX#</span>
                        <span class="default_bright_blue"> {{transaction_hash}} </span>
                    </div>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <div class="truncate_tail">
                        <span class="address_title_color"> From </span>
                        <span class="default_bright_blue"> {{address}} </span>
                    </div>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <div class="truncate_tail">
                        <span class="address_title_color"> To </span>
                        <span class="default_bright_blue"> {{corresponding_address}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>