<tbody class=" transactions_font transactions_background_color">
<tr>
    <td class="tableRowOtherComponentWidth text-truncate">
        <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='transactions_token_icon' />
        <span class="address_title_color "> FRC coin </span>
    </td>

    <td class="tableRowOtherComponentWidth text-truncate">
        <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenIcon' />
        <span class="amount_coin">{{tokens}} FRC </span>
    </td>

    <td class="tableRowOtherComponentWidth text-truncate ">
        <div class="tableBorderRight">
            <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenIcon' />
            <span class=""> {{toTimeAgo timestamp}} </span>
        </div>

    </td>

    <td class="tableRowHashWidth text-truncate">
        <span class="address_title_color"> TX#</span>
        <span class="default_bright_blue"> {{transaction_hash}} </span>
    </td>

    <td class="tableRowHashWidth text-truncate">
        <span class="address_title_color"> From </span>
        <span class="default_bright_blue"> {{t_from}} </span>
    </td>

    <td class="tableRowTransaferArrowComponentWidth">
        <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenIcon' />
    </td>

    <td class="tableRowHashWidth text-truncate">
        <span class="address_title_color"> To </span>
        <span class="default_bright_blue"> {{t_to}} </span>
    </td>
</tr>
</tbody>