<section class="container-details">

    <div class="container">

        <div class="row mt-4 mb-4 d-flex align-items-center summary-1">
            <div class="section col-sm">
                <div class="d-flex align-items-center">
                    <div class="circle {{token_details.symbol_icon}}">
                        <div>{{token_details.company_symbol}}</div>
                    </div>
                    <div class="ml-4">
                        <div class="token-name mb-2">{{token_details.company_name}}</div>
                    </div>
                </div>
            </div>
            <div class="section col-sm">
                <!--<div>-->
                    <!--<div class="name">Price in {{ostCurrencySymbol}}</div>-->
                    <!--<div class="value">{{math 1 '/' token_details.conversion_rate}}</div>-->
                <!--</div>-->
                <div  class="mt-3">
                    <div class="name">Created on</div>
                    <div class="value">{{toDate token_details.creation_timestamp}}</div>
                </div>
                <div  class="mt-3">
                    <div class="name">Token UUID</div>
                    <div class="text-truncate value" style="max-width: 300px;">{{token_details.uuid}}</div>
                </div>
            </div>
            <div class="section col-sm">
                <div  >
                    <div class="name">simple stake contract <a href="https://{{etherscanEndpoint}}/address/{{token_details.simple_stake_contract_address}}#tokentxns" target='blank'> <span class="etherscan icon" style="vertical-align: bottom;"></span></a></div>
                    <a class="text-truncate value" style="max-width: 300px;" href="https://{{etherscanEndpoint}}/address/{{token_details.simple_stake_contract_address}}#tokentxns" target='blank'>{{token_details.simple_stake_contract_address}}</a>
                </div>
                <div class="mt-3">
                    <div class="name">branded token contract</div>
                    <div class="text-truncate value" style="max-width: 300px;">{{token_details.contract_address}}</div>
                </div>


            </div>
        </div>

        <div class="row">
            <hr class="divider d-none d-sm-block"/>
        </div>
    </div>
</section>


