<section class="container-details">

    <div class="container">

        <div class="row my-4 d-flex align-items-center summary-1">
            <div class="section col-sm text-truncate">
                <!--<div class="d-flex align-items-center">-->
                    <!--<div class="circle">-->
                        <!--<div>{{token.symbol}}</div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <h4 class="mb-0 text-truncate">{{token.name}}&nbsp;({{token.symbol}})</h4>
                    <!--</div>-->
                <!--</div>-->
            </div>
            <div class="section col-sm">
                <div class="name">base erc20 token</div>
                <div class="text-truncate value">{{ostCurrencySymbol}}</div>
                <div class="mt-3">
                  <div class="name">branded token contract</div>
                  <div class="text-truncate value">{{token.contractAddress}}</div>
                </div>
                <!--<div  class="mt-3">-->
                    <!--<div class="name">Token UUID</div>-->
                    <!--<div class="text-truncate value" style="max-width: 300px;">{{token.uuid}}</div>-->
                <!--</div>-->
                <!--<div  class="mt-3">-->
                    <!--<div class="name">HOLDERS</div>-->
                    <!--<div class="text-truncate value" style="max-width: 300px;">{{token.totalTokenHolders}}</div>-->
                <!--</div>-->
            </div>
            <div class="section col-sm text-truncate">
                <div>
                    <div class="name">simple stake contract
                        <a href="https://{{etherscanEndpoint}}/address/{{token.simpleStakeContractAddress}}#tokentxns" target='blank'>
                            <span class="etherscan icon" style="vertical-align: bottom;"></span></a>
                    </div>
                    <a class="text-truncate value" style="max-width: 300px;"
                       href="https://{{etherscanEndpoint}}/address/{{token.simpleStakeContractAddress}}#tokentxns"
                       target='blank'>{{token.simpleStakeContractAddress}}</a>
                </div>
                <div class="mt-3">
                  <div class="name">value branded token contract</div>
                  <div class="text-truncate value">{{token.valueBrandedToken}}</div>
                </div>
<!--                <div class="mt-3">-->
<!--                    <div class="name">branded token contract</div>-->
<!--                    <div class="text-truncate value">{{token.contractAddress}}</div>-->
<!--                </div>-->

<!--                <div class="mt-3">-->
<!--                    <div class="name">TOTAL SUPPLY</div>-->
<!--                    <div class="text-truncate value">{{token.totalTransfers}}</div>-->
<!--                </div>-->

            </div>
        </div>

        <div class="row">
            <hr class="divider d-none d-sm-block"/>
        </div>
    </div>
</section>


