<section class="container-datatable mt-4">

    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="nav-tab-ost mt-3 mb-3">

                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"
                               id="topTokenTab"
                               data-toggle="pill" href="#topTokens"
                               role="tab" aria-controls="topTokenTab"
                               aria-selected="true">TOP TOKENS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               id="latestTokenTransferTab"
                               data-toggle="pill"
                               href="#latestTokenTransfer"
                               role="tab"
                               aria-controls="latestTokenTransferTab"
                               aria-selected="false">LATEST TRANSACTIONS</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2" style="min-height: 620px">

                        <div class="tab-pane show active" id="topTokens" role="tabpanel" aria-labelledby="topTokenTab">

                            <div id="homeTopTokensTable" class="position-relative mt-4 view-table" data-url="/{{meta.baseUrlPrefix}}/token/top">
                                <div class="table-info-wrapper">
                                  <div class="table-header">
                                    <div class="row">
                                      <div class="col-1">
                                      </div>
                                      <div class="col-3">
                                        TOKEN
                                      </div>
                                      <div class="col-2 text-right">
                                        TOKEN HOLDERS
                                      </div>
                                      <div class="col-3 text-right">
                                        MARKET CAP
                                      </div>
                                      <div class="col-3 text-right">
                                        TOTAL VOLUME
                                      </div>
                                    </div>
                                  </div>

                                  <div class="table-body" data-row-wrapper>
                                      <script type="text/x-handlebars-template" data-row-template>
                                          [[#if tokens]]
                                              [[#each tokens]]
                                              <div class="card-body">
                                                  <div class="row d-flex align-items-center">
                                                      <div class="col-1">
                                                        <div class="cell d-flex align-items-center">
                                                          <div class="rank">[[getIndex ../pageResultStartIndex @index]]</div>
                                                        </div>
                                                      </div>
                                                      <div class="col-3 d-flex align-items-center">
                                                        <a href="{{getFEURLTemplate meta.urlTemplates.token}}"
                                                           class="d-inline-block text-truncate">[[name]]</a>
                                                      </div>
                                                      <div class="col-2 text-truncate text-right">
                                                        [[toNumeral totalTokenHolders]]
                                                      </div>
                                                      <div class="col-3 text-truncate text-right">
                                                        [[toNumeral marketCap]]  {{baseCurrencySymbol}}
                                                      </div>
                                                      <div class="col-3 text-truncate text-right">
                                                        [[toNumeral totalVolume]] {{baseCurrencySymbol}}
                                                      </div>
                                                  </div>
                                              </div>
                                              [[/each]]
                                          [[else]]
                                            {{>ui/noResults}}
                                          [[/if]]
                                      </script>
                                  </div>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="latestTokenTransfer" role="tabpanel" aria-labelledby="latestTokenTransferTab">

                            <div id="homeTokenTransactionTable" class="position-relative view-table mt-4"
                                 data-url="/{{meta.baseUrlPrefix}}/transaction/latest">
                                {{>ui/transactionTable}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>ui/nextPreviousTemplate}}

    </div>

</section>

{{#contentFor "pageScripts"}}
<script type="text/javascript">
    $(document).ready(function() {
        btx.home.init({});
    });
</script>

{{/contentFor}}

