<section class="container-summary">

    <div class="container">

        <div class="row mt-4 mb-4 d-flex align-items-center">
            <div class="section col-sm">
                <div class="d-flex">
                    <div class="circle">
                        <div>{{token_details.company_symbol}}</div>
                    </div>
                    <div class="ml-4">
                        <div class="token-name mb-2">{{token_details.company_name}}</div>
                        <div class="token-price">Price Token in OST α</div>
                        <div class="token-price font-weight-bold">{{math 1 '/' token_details.price}}</div>
                    </div>
                </div>
            </div>
            <div class="section col-sm">
                <div>
                    <div class="name">Contract Address</div>
                    <div class="text-truncate value" style="max-width: 300px;">{{token_details.contract_address}}</div>
                </div>
                <div  class="mt-3">
                    <div class="name">Token UUID</div>
                    <div class="text-truncate value" style="max-width: 300px;">{{token_details.uuid}}</div>
                </div>
            </div>
            <div class="section col-sm">
                <div>
                    <div class="name"># Token Holders</div>
                    <div class="value">{{token_details.token_holders}}</div>
                </div>
                <div  class="mt-3">
                    <div class="name">Creation Date</div>
                    <div class="value">@TODO</div>
                </div>
            </div>
        </div>

        <div class="row">
            <hr class="divider d-none d-sm-block"/>
        </div>

        <div class="row mt-4 mb-4">
            <div class="col-sm text-center">
                <div>
                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenDetailsStatsImage '/>
                </div>
                <div class="tokenDetailsContainerBackgroundColor tokenDetailsCoinStatsPadding text-center tokenDetailsCoinStatsMargineTop">
                    <span class="tokenDetailsStatsTitleColorbad">
                        MARKET CAP
                    </span>
                     <span class="tokenDetailsStatsValueColor030">
                         {{token_details.market_cap}}
                     </span>
                </div>
            </div>
            <div class="col-sm text-center">
                <div>
                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenDetailsStatsImage '/>
                </div>
                <div class="tokenDetailsContainerBackgroundColor tokenDetailsCoinStatsPadding text-center tokenDetailsCoinStatsMargineTop">
                                                    <span class="tokenDetailsStatsTitleColorbad">
                                                        CIRCULATING SUPPLY
                                                    </span>
                    <br/>
                                                     <span class="tokenDetailsStatsValueColor030">
                                                         {{token_details.circulation}}
                                                     </span>
                </div>
            </div>
            <div class="col-sm text-center">
                <div>
                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenDetailsStatsImage '/>
                </div>
                <div class="tokenDetailsContainerBackgroundColor tokenDetailsCoinStatsPadding text-center tokenDetailsCoinStatsMargineTop">
                                                    <span class="tokenDetailsStatsTitleColorbad">
                                                       TOTAL SUPPLY
                                                    </span>
                    <br/>
                                                     <span class="tokenDetailsStatsValueColor030">
                                                         {{token_details.total_supply}}
                                                     </span>
                </div>
            </div>
        </div>
    </div>

</section>
