<section class="container-datatable">

    <div class="container">

        <div class="row">
            <div class="col-12">

                <div class="nav-tab-ost mt-3 mb-3">

                    <ul class="nav nav-pills" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tokenTransferTab" data-toggle="pill" href="#tokenTransfer" role="tab" aria-controls="tokenTransfer" aria-selected="true">Token Transfers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tokenHoldersTab" data-toggle="pill" href="#tokenHolders" role="tab" aria-controls="tokenHolders" aria-selected="false">Token Holders</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2" id="myTabContent">

                        <div class="tab-pane show active" id="tokenTransfer" role="tabpanel" aria-labelledby="tokenTransferTab">

                            <div id="tokenTransferTable" class="position-relative view-table mt-4"
                                 data-url="/{{meta.baseUrlPrefix}}/token/ec-{{token.chainId}}-{{token.contractAddress}}/token-transfers">
                              <div class="table-info-wrapper">
                                <div class="table-header">
                                  <div class="row">
                                    <div class="col-3">
                                      TX #
                                    </div>
                                    <div class="col-2">
                                      TX TIME
                                    </div>
                                    <div class="col-2">
                                      FROM
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-2">
                                      TO
                                    </div>
                                    <div class="col-2">
                                      Value
                                    </div>
                                  </div>
                                </div>

                                <div class="table-body" data-row-wrapper>

                                    <script type="text/x-handlebars-template" data-row-template>
                                        [[#if tokenTransfers]]
                                            [[#each tokenTransfers]]
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-3 text-truncate">
                                                        {{>ui/transactionHash}}
                                                    </div>
                                                    <div class="col-2">
                                                        {{>ui/time timestampKey="timestamp"}}
                                                    </div>
                                                    <div class="col-2 text-truncate">
                                                        {{>ui/address template=meta.urlTemplates.tokenHolder fromTo="from"}}
                                                    </div>
                                                    <div class="col-1 text-center">→</div>
                                                    <div class="col-2 text-truncate">
                                                        {{>ui/address template=meta.urlTemplates.tokenHolder fromTo="to"}}
                                                    </div>
                                                    <div class="col-2">
                                                        <span class="badge-primary inflow-1 tx-fee text-uppercase">
                                                            [[toDecimalValueDisplayPrecision amount '{{token.decimals}}']] {{token.symbol}}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            [[/each]]
                                        [[else]]
                                          {{>ui/noResults noun="Token Transfers"}}
                                        [[/if]]
                                    </script>

                                </div>
                              </div>

                            </div>

                        </div>


                        <div class="tab-pane" id="tokenHolders" role="tabpanel" aria-labelledby="tokenHoldersTab">

                            <div id="tokenHoldersTable" class="position-relative view-table mt-4"
                                 data-url="/{{meta.baseUrlPrefix}}/token/ec-{{token.chainId}}-{{token.contractAddress}}/token-holders/top">

                                <div class="table-info-wrapper">
                                  <div class="table-header">
                                    <div class="row">
                                      <div class="col-5">
                                        ADDRESS
                                      </div>
                                      <div class="col-6">
                                        BALANCE
                                      </div>
                                    </div>
                                  </div>

                                  <div class="table-body" data-row-wrapper>

                                    <script type="text/x-handlebars-template" data-row-template>
                                      [[#if tokenHolders]]
                                      [[#each tokenHolders]]
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col-5 text-truncate">
                                            <a href="{{getFEURLTemplate  meta.urlTemplates.tokenHolder}}">
                                              [[address]]
                                            </a>
                                          </div>
                                          <div class="col-6">
                                            <span class="badge-primary inflow-1 tx-fee text-uppercase">
                                                            [[toDecimalValue balance '{{token.decimals}}']] {{token.symbol}}
                                                        </span>
                                          </div>
                                        </div>
                                      </div>
                                      [[/each]]
                                      [[else]]
                                        {{>ui/noResults noun="Token Holders"}}
                                      [[/if]]
                                    </script>

                                  </div>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>

{{>ui/nextPreviousTemplate}}

{{#contentFor "pageScripts"}}
    <script type="text/javascript">
        $(document).ready(function() {
            btx.tokenDetails.init({});
        });
    </script>
{{/contentFor}}