<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{{css 'mCommon.css'}}}
    {{{js 'mCommon.js'}}}

    {{{css 'mMainCss.css'}}}

    <!--<link rel="stylesheet" type="text/css" href="/css/common.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/header.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/home.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/tableComponent.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/homeTransactions.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/addressDetails.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/tokenDetails/tokenDetails.css">-->
    <!--<link rel="stylesheet" type="text/css" href="/css/tokenDetails/tokenDetailsTransaction.css">-->


    <title>{{title}}</title>
</head>
<body>

    {{>header}}
    {{{body}}}

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

</body>
</html>