{{>pageTitle title="Address"}}

<div class="container container-address-details">
    <div class="row">
        <div class="col-12">

            <div class="mt-4 mb-4 info-card card">
                <div class="text-truncate card-body">
                    <span class="key-color mr-1"> Address </span>
                    <span class="value-color font-weight-light"> {{meta.address}} </span>
                </div>
            </div>

            <div class="mt-4 mb-4 details-card card">

                <div class="card-body">
                    <span class="key-color mr-3"> Amount</span>
                    <span class="staked-coin icon"></span>
                    <span class="badge badge-primary"> {{bigNumber_toFromat address_info.tokens}} {{token_details.company_symbol}} </span>
                    <span class="value-color font-weight-bold"> ({{math address_info.tokens '/' token_details.price }} OST) </span>
                </div>

                <div class="card-body">
                    <span class="key-color mr-2"> Total Transactions </span>
                    <span class="value-color font-weight-light"> {{address_info.total_transactions}} </span>
                </div>
            </div>

        </div>
    </div>
</div>

{{>addressDetailsDataTable}}

