{{>pageTitle title="Address"}}

<div class="container container-address-details">
    <div class="row">
        <div class="col-12">

            <div class="mt-4 mb-4 details-card card">
                <div class="card-body">
                  <div class="card-key"> Address </div>
                  <span> {{address.address}} </span>
                </div>

                <div class="card-body">
                    <div class="card-key"> Balance </div>
                    <span> {{fromWei address.balance}} {{baseCurrencySymbol}} </span>
                </div>

                <div class="card-body">
                    <div class="card-key"> Total Transactions </div>
                    <span> {{address.totalTransactions}} </span>
                </div>

                <div class="card-body">
                    <div class="card-key"> Chain Id </div>
                    <span> {{address.chainId}} </span>
                </div>
            </div>

        </div>
    </div>
</div>

{{>addressDetailsDataTable}}

