{{{js 'mBlockDetails.js' }}}
{{{css 'mBlockDetails.css'}}}

<div class="container-fluid">

    {{>pageTitle title="Block Details"}}
    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="blockDetailsContainerBackgroundColor blockDetailsContainerMargineTop blockDetailsPadding text-truncate">
                    <span class="default_black_color"> BLOCK # </span>
                    <span class="blockDetailsColora84"> {{block.block_number}} </span>
                </div>

                <div class="blockDetailsContainerMargineTop">
                    <div class="blockDetailsBorder">

                        <div class="blockDetailsPadding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Chain Id</span>
                                </div>
                            </div>
                        </div>

                        <div class="blockDetailsPadding blockDetailsContainerBackgroundColor">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Time &nbsp</span>
                                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='tokenIcon' />
                                    <span class="blockDetailsColora84">  {{toDate block.timestamp}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="blockDetailsPadding ">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Block Hash &nbsp</span>
                                    <span class="blockDetailsColora84">  {{block.block_hash}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="blockDetailsPadding blockDetailsContainerBackgroundColor">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Total Transactions &nbsp</span>
                                    <span class="blockDetailsColora84">  {{block.total_transactions}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="blockDetailsPadding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Gas Used &nbsp</span>
                                    <span class="blockDetailsColora84">  {{block.gas_used}} </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="blockDetailsContainerMargineTop">
                    <h4 class="blockDetailsTransactionsColorbad blockDetailsPadding">
                        Transactions
                    </h4>
                    <p id="block_transaction_url" style="display:none">
                        {{transaction_url}}
                    </p>
                    <div id="transaction_table">

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
