{{>pageTitle title="Block Details"}}

<div class="container container-block-details">
    <div class="row">
        <div class="col-12">

            <div class="mt-4 mb-4 details-card card">

                <div class="text-truncate card-body">
                  <div class="card-key mr-1"> Block Number </div>
                  <span> {{block.blockNumber}} </span>
                </div>

                <div class="text-truncate card-body">
                    <div class="card-key mr-1"> Chain Id</div>
                    <span> {{block.chainId}} </span>
                </div>

                <div class="text-truncate card-body">
                    <div class="card-key mr-1"> Time </div>
                    <span> {{toDate block.blockTimestamp}} </span>
                </div>

                <div class="text-truncate card-body">
                    <div class="card-key mr-1"> Block Hash </div>
                    <span> {{block.blockHash}} </span>
                </div>

                <div class="text-truncate card-body">
                    <div class="card-key mr-1"> Total Transactions </div>
                    <span> {{block.totalTransactions}} </span>
                </div>


                <div class="text-truncate card-body">
                    <div class="card-key mr-1"> Gas Used </div>
                    <span> {{block.gasUsed}} </span>
                </div>

                <div class="text-truncate card-body">
                    <div class="card-key mr-1">Nonce </div>
                    <span> {{block.nonce}} </span>
                </div>
            </div>
        </div>
    </div>
</div>

{{#when block.totalTransactions '>' 0}}

{{>blockDetailsDataTable  chainId=blockDetails.chainId blockNumber=blockNumber}}

{{#contentFor "pageScripts"}}
  <script type="text/javascript">
    $(document).ready(function() {
      btx.blockDetails.init();
    });
  </script>
{{/contentFor}}

{{/when}}