<script type="text/javascript">
	$(document).ready(function() {
        var transaction_url = document.getElementById('transaction_url').innerHTML;
        var transaction_table = document.getElementById('transaction_table');
        $.ajax({
            url: transaction_url,
            contentType: 'application',
            type: 'GET',
            success: function (data, status) {
                console.log("success",data);
                transaction_table.innerHTML = data;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("Error Data: " + XMLHttpRequest + "\nStatus: " + textStatus)
            }
        });
    });
</script>
<div class="home container-fluid">
    <div class="container">
	    <p class="home_title inline_block" >
	        {{ token_details.coin_name }}
	    </p>
	</div>
</div>
<div class="container">
	<div class="row token-details">
		<div class="col-sm-4" >
			<div class ="row">
				<div class="col-sm-4">
					<div class="block">
		      			<div class="circle">
		      				<p>FRC</p>	
		      			</div>
					</div>
				</div>
				<div class="col-sm-8">
					<span class="token_heading" >
						{{ coin_name }}
					</span>
					<br/>
					<span >
						24h Volume
					</span>
					<br/>
					<span >
						23,659.0304343
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-4 left-right-border" >
			<span class="contract_address" >
				CONTRACT ADDRESS
			</span>
			<br/>
			<a class="address" href="#">
				{{token_details.contract_address}}
			</a>
			<br/>
			<span class="contract_address" >
				CREATOR
			</span>
			<br/>
			<a class="address" href="#">
				{{token_details.contract_address}}
			</a>
		</div>
		<div class="col-sm-4" >
			<p>
			</p>
		</div>
	</div>
	<p id="transaction_url" style="display:none">
        {{ token_details.transaction_url }}
    </p>
    <div id="transaction_table">
	</div>
</div>