{{>pageTitle title="Transaction Details"}}

<div class="container container-token-details">
    <div class="row">
        <div class="col-12">

            <div class="mt-4 mb-4 info-card card">
                <div class="text-truncate card-body">
                    <span class="key-color"> TX# </span>
                    <span class="value-color font-weight-light"> {{transaction.transaction_hash}} </span>
                </div>
            </div>

            <div class="mt-4 mb-4 details-card card">

                <div class="card-body">
                    <span class="key-color mr-1"> Status </span>
                    <span class="transaction-status-color font-weight-light"> Processed </span>
                </div>

                <div class="card-body">
                    <span class="key-color mr-1"> Time</span>
                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='icon mr-1' />
                    <span class="value-color font-weight-light"> {{ toDate transaction.timestamp }} </span>
                </div>

                <div class="card-body card-body-table">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="">
                                    <div class="circle circle-sm">
                                        <div>{{coin_details.company_symbol}}</div>
                                    </div>
                                    <div class="ml-2 name">{{coin_details.company_name}}</div>
                                </td>
                                <td class="">
                                    <span class="badge badge-primary">{{transaction.tokens}} {{coin_details.company_symbol}}</span>
                                    <span class="ml-1">({{math transaction.tokens '/' coin_details.price}} OST)</span>
                                </td>
                                <td class="">
                                    {{ toDate transaction.timestamp }}
                                </td>
                                <td class="">
                                    <span class="default_black_color mr-1"> From </span>
                                    <a class="default_bright_blue font-weight-light" href="{{meta.redirect_url.from}}">
                                        <span class="text-truncate">{{transaction.t_from}}</span>
                                    </a>
                                </td>
                                <td  class="">
                                    <div class="text-center w-100" style="color:#597a84">&#8594;</div>
                                </td>
                                <td class="">
                                    <span class="key-color mr-1"> To </span>
                                    <a class="default_bright_blue font-weight-light" href="{{meta.redirect_url.to}}">
                                        <span class="text-truncate">{{transaction.t_to}}</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> BLOCK Height </span>
                    <a class="default_bright_blue font-weight-light" href="{{meta.redirect_url.block}}">{{transaction.block_number}}</a>

                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> Chain Id </span>
                    <span class="value-color font-weight-light">  </span>

                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> Gas Price </span>
                    <span class="value-color font-weight-light">  {{transaction.gas_price}} (OST) </span>

                </div>

                <div class="card-body">
                    <span class="default_black_color mr-1"> Gas Usage </span>
                    <span class="value-color font-weight-light"> {{transaction.gas_used}} </span>

                </div>

                <div class="justify-content-start card-body">
                    <span class="key-color align-top"> Input Data </span>
                    <div class="p-2 input-data-break-all">
                        <span class="value-color font-weight-light"> {{{getMethodNameFromInputData transaction.input_data}}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
