{{>pageTitle title="Transaction Details"}}


<div class="container container-token-details">
    <div class="row">
        <div class="col-12">

            <div class="mt-4 mb-4 details-card card">

                <div class="text-truncate card-body">
                  <div class="card-key mr-1"> TX# </div>
                  <span>
                    {{transaction.transactionHash}}
                  </span>
                </div>

                  <div class="card-body">
                    <div class="card-key mr-1"> Status </div>
                    {{#when transaction.transactionStatus '==' '0'}}
                        <span class="transaction-status-2"> Failed </span>
                    {{/when}}
                    {{#when transaction.transactionStatus '==' '1'}}
                        <span class="transaction-status-1 "> Success </span>
                    {{/when}}
                  </div>

                <div class="card-body">
                    <div class="card-key mr-1"> Time</div>
                    <!--<span class="time icon"></span>-->
                    <span>
                        {{ toDate transaction.blockTimestamp }}
                    </span>
                </div>

                <div class="text-truncate card-body">
                    <div class="card-key mr-1"> From</div>
                    <span>
                         {{>address chainId=transaction.chainId address=transaction.fromAddress}}
                    </span>
                </div>

                <div class="text-truncate card-body">
                    <div class="card-key mr-1"> To</div>
                    <span>
                        {{>address chainId=transaction.chainId
                                address=transaction.toAddress toContractAddress=transaction.contractAddress}}
                    </span>
                </div>

                <div class="card-body d-md-flex align-items-start">
                    <div class="card-key mr-2"> Token Transfers</div>
                    <span>
                        <div>
                            {{transaction.totalTokenTransfers}}
                            {{#transaction.totalTokenTransfers}} Transfers {{/transaction.totalTokenTransfers}}
                        </div>
                        <div class="transfer-table-wrapper">
                        </div>
                    </span>

                </div>

                <div class="card-body">
                  <div class="card-key mr-1"> Value </div>
                  <span>{{fromWei transaction.value}} {{ostCurrencySymbol}}</span>
                </div>

                <div class="card-body">

                    <div class="card-key mr-1"> Block Number </div>
                    <a class=""
                       href="/{{meta.baseUrlPrefix}}/block/bk-{{transaction.chainId}}-{{transaction.blockNumber}}">
                        {{transaction.blockNumber}}
                    </a>

                </div>

                <div class="card-body">

                    <div class="card-key mr-1"> Chain Id </div>
                    <span> {{transaction.chainId}}  </span>

                </div>

                <div class="card-body">
                    <div class="card-key mr-1"> Gas Price </div>
                    {{#if transaction.gasPrice}}
                        <span >
                          {{toOstGasPrice transaction.gasPrice}} {{ostCurrencySymbol}}
                        </span>
                    {{/if}}
                </div>

                <div class="card-body">
                  <div class="card-key mr-1"> Gas Used </div>
                  {{#if transaction.gasUsed}}
                    <span >
                      {{transaction.gasUsed}}
                    </span>
                  {{/if}}
                </div>

                <div class="card-body">
                    <div class="card-key mr-1">Actual Tx Cost/Fee</div>
                    <span >
                        {{getTXFee transaction.gasUsed transaction.gasPrice}} {{ostCurrencySymbol}}
                    </span>
                </div>

                <div class="card-body">
                    <div class="card-key mr-1"> Nonce | {Position} </div>
                    <span > {{transaction.nonce}} | &#123;{{transaction.transactionIndex}}&#125; </span>
                </div>

                <div class="justify-content-start card-body">
                  <div class="card-key align-top"> Input Data </div>
                  <div class="p-2 input-data-break-all">
                      <pre  style="white-space: unset;"> {{transaction.inputData}}</pre>
                  </div>
                </div>

            </div>

        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}

    <script type="text/x-handlebars-template" id="transfer-table">
        [[#each tokenTransfers]]
            <div class="p-2 p-xl-3 mt-2">
              <div class="row">
                <div class="col-lg-4 text-truncate">
                    <span class="mr-2">From</span>
                    {{>ui/address template=meta.urlTemplates.tokenHolder fromTo="from"}}
                </div>
                <div class="to-arrow d-none d-lg-block">→</div>
                <div class="col-lg-4 text-truncate my-3 my-lg-0">
                    <span class="mr-2">To</span>
                    {{>ui/address template=meta.urlTemplates.tokenHolder fromTo="to"}}
                </div>
                <div class="col-lg">
                    <span class="badge-primary inflow-1 tx-fee text-uppercase">[[toDecimalValue amount token.decimals]] [[token.symbol]]</span>
                </div>
              </div>
            </div>
        [[/each]]
        [[#hasNextPage]]
            <div class="load-more-wrapper pt-2">
                <a href="javascript:void(0)" class="show-more-link"> SHOW MORE </a>
            </div>
        [[/hasNextPage]]
    </script>

    <script type="text/x-handlebars-template" id="load-more-loader">
        <div class="image-loader-wrapper">
            <img src="https://dxwfxs8b4lg24.cloudfront.net/ost-kit/images/processed-loader-1.gif" height="30" width="30"/>
        </div>
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            var data = {
                transaction : '{{{toJSON transaction}}}',
                meta : '{{{toJSON meta}}}'
            } ;
            btx.transactionDetails.init(  data   );
        });
    </script>

{{/contentFor}}


