{{>pageTitle title="Transaction Details"}}

<div class="container container-token-details">
    <div class="row">
        <div class="col-12">

            <div class="mt-4 mb-4 info-card card">
                <div class="text-truncate card-body">
                    <span class="key-color"> TX# </span>
                    <span class="value-color font-weight-light"> {{transaction.transaction_hash}} </span>
                </div>
            </div>

            <div class="mt-4 mb-4 details-card card">

                <div class="card-body">
                    <span class="key-color mr-1"> Status </span>
                    <span class="transaction-status-color font-weight-light"> Processed </span>
                </div>

                <div class="card-body">
                    <span class="key-color mr-1"> Time</span>
                    <span class="time icon"></span>
                    <span class="value-color font-weight-light"> {{ toDate transaction.timestamp }} </span>
                </div>

                <div class="card-body">
                    <div class="d-flex align-items-center">

                        <span class="key-color mr-1"> Amount </span>
                        <div class="cell d-flex align-items-center ml-2">
                            <span class="staked-coin icon"></span>
                            <span class="badge badge-primary">{{bigNumber_toFromat token_ransaction_details.tokens}} {{dictionary_dataValue token_ransaction_details.contract_address contract_address 'company_symbol'}}</span>
                            <span class="ml-1">({{getOstBalance token_ransaction_details.tokens token_ransaction_details.contract_address contract_address}} OST)</span>

                         </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <span class="key-color mr-1"> Token </span>
                        <div class="circle circle-xs ml-4">
                            <div>{{dictionary_dataValue token_ransaction_details.contract_address contract_address 'company_symbol'}}</div>
                        </div>
                        <div class="ml-2 name">{{dictionary_dataValue token_ransaction_details.contract_address contract_address 'company_name'}}</div>
                    </div>

                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> From </span>
                    <a class="default_bright_blue font-weight-light text-truncate ml-1" href="{{meta.redirect_url.from}}">{{transaction.t_from}}</a>

                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> To </span>
                    <a class="default_bright_blue font-weight-light text-truncate ml-1" href="{{meta.redirect_url.to}}">{{transaction.t_to}}</a>

                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> Block Number </span>
                    <a class="default_bright_blue font-weight-light" href="{{meta.redirect_url.block}}">{{transaction.block_number}}</a>

                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> Chain Id </span>
                    <span class="value-color font-weight-light">{{meta.chain_id}}  </span>

                </div>

                <div class="card-body">

                    <span class="key-color mr-1"> Gas Price </span>
                    <span class="value-color font-weight-light">  {{transaction.gas_price}} (OST) </span>

                </div>

                <div class="card-body">
                    <span class="default_black_color mr-1"> Gas Usage </span>
                    <span class="value-color font-weight-light"> {{transaction.gas_used}} </span>

                </div>

                <div class="justify-content-start card-body">
                    <span class="key-color align-top"> Input Data </span>
                    <div class="p-2 input-data-break-all">
                        <span class="value-color font-weight-light"> {{{getMethodNameFromInputData transaction.input_data}}} </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


