{{{css 'mTransactionDetails.css'}}}

<div class="container-fluid">

    {{>pageTitle title="Transaction Details"}}

    <div class="container ">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="transactionDetailsContainerBackgroundColor transactionDetailsContainerMarginTop transactionDetailsPadding text-truncate">
                    <span class="default_black_color"> TX# </span>
                    <span class="transactionDetailsTitleColora84"> {{transaction.hash}} </span>
                </div>

                <div class="transactionDetailsContainerMarginTop">
                    <div class="transactionDetailsBorder">
                        <div class="transactionDetailsPadding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Status </span>
                                    <span class="transactionDetailsStatusColor"> &nbsp Processed </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding transactionDetailsContainerBackgroundColor">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Time &nbsp </span>
                                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='transactionDetailsTokenIcon' />
                                    <span class="transactionDetailsTitleColora84"> &nbsp {{ toDate transaction.timestamp }} </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Amount &nbsp </span>
                                        <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='transactionDetailsTokenIcon' />
                                        &nbsp
                                    <span class="transactionDetailsCoinAmount"> {{transaction.tokens}} FRC </span>
                                        &nbsp
                                    <span class="transactionDetailsTitleColora84"> ({{tokens}} OST) </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding transactionDetailsContainerBackgroundColor">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Token &nbsp </span>
                                    &nbsp &nbsp
                                    <img src="https://dummyimage.com/400x400/22aaee/fff.png" class='transactionDetailsTokenIcon' />
                                    &nbsp
                                    <span class="transactionDetailsTitleColora84"> FRANCHESCO COIN </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> From &nbsp </span>
                                    &nbsp
                                    <span class="default_bright_blue"> {{transaction.t_from}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding transactionDetailsContainerBackgroundColor">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> To &nbsp </span>
                                    &nbsp
                                    <span class="default_bright_blue">  {{transaction.t_to}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> BLOCK Height &nbsp </span>
                                    &nbsp
                                    <span class="default_bright_blue"> {{transaction.block_number}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding transactionDetailsContainerBackgroundColor">
                            <div class="row">
                                <div class="col-sm-12">

                                    <span class="default_black_color"> Gas Price &nbsp </span>
                                    &nbsp
                                    <span class="transactionDetailsTitleColora84">  {{transaction.gas_price}} (OST) </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <span class="default_black_color"> Gas Usage &nbsp </span>
                                    &nbsp
                                    <span class="transactionDetailsTitleColora84"> {{transaction.gas_used}} </span>
                                </div>
                            </div>
                        </div>

                        <div class="transactionDetailsPadding">
                            <div class="row">
                                <div class="col-sm-2">
                                    <span class="default_black_color"> Input Data </span>
                                </div>
                                <div class="col-sm-10">
                                    <div class="transactionDetailsInputDataPadding marginRight transactionDetailsInputDataMarginLeft transactionDetailsContainerBackgroundColor transactionDetailsInputDataBreakAll">

                                        <span class="transactionDetailsTitleColora84"> MethodID: {{{getMethodNameFromInputData transaction.input_data}}} </span>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>