[[#when {{fromTo}}Address '!=' '0x0000000000000000000000000000000000000000']]
<a href="{{getFEAddress template fromTo}}"> [[{{fromTo}}Address]] </a>
[[/when]]
[[#when {{fromTo}}Address '==' '0x0000000000000000000000000000000000000000']]
<span> [[{{fromTo}}Address]] </span>
[[/when]]
